body {
  background-color: #4D606E;
}

.game {
  margin: auto;
  width: 25%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #3FBAC2;
}

.tile {
  font-family: Helvetica;
  font-size: 2em;
  margin: 5px;
  color: #F5F5F5;
  background-color: #D3D4D8;
  padding: 3px 15px;
  border-radius: 5px;
}